body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1f2937;
    padding: 16px 64px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.nav-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
    list-style-type: none;
}

.nav-bar .header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 64px;
}

.header-main h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.header-main p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main a {
    background: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.info li {
    width: 300px;
}

.info ul p {
    text-align: justify;
}

.quote {
    background-color: #E5E7EB;
    display: block;
}

.passion {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

.author-container {
    display: flex;
    justify-content: space-around;
}

.author {
    font-weight: 900;
}

.call-to-action {
    margin: 64px 128px;
}

.call-to-action-container {
    padding: 8px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.call-header-text {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 8px;
}

.call-main-text {
    margin-top: 8px;
    font-size: 18px;
}

.call-to-action a {
    background: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    margin: auto 16px;
}

.footer {
    background-color: #1f2937;
}

.footer p {
    color: #F9FAF8;
    text-align: center;
}