body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1f2937;
    padding: 16px 64px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.nav-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 32px;
    list-style-type: none;
}

.nav-bar .header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 64px;
}

.header-main h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.header-main p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-main a {
    background: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 16px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 64px;
}

.info li {
    width: 300px;
}

.info ul p {
    text-align: justify;
}